<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 80px">
  <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" href="/">YELP</a>
    <%= link_to "+ Add a restaurant", new_restaurant_path, class: "btn btn-dark mx-4" %>
  </div>
  </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
